{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": "standard",
    "rules": {
        "indent": [2, 4],
        "no-multi-spaces": [2, {
            "exceptions": {
                "VariableDeclarator": true
            }
        }],
        "semi": [2, "always"]
    },
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}
